# Visual Studio
.vs/
x64/
Debug/
Release/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Build outputs
*.exe
*.obj
*.lib
*.dll
*.pdb
*.idb
*.tlog
*.log
*.recipe
*.pch
*.lastbuildstate

# OS
.DS_Store
Thumbs.db